.Main {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    min-height: 100vh;
    background-color: #5072A7;
}

.bg-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bg-white {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px; /* Set a max-width for large screens */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.datatable-responsive {
    overflow-x: auto;
}

.DataTable {
    width: 100%;
    margin-top: 1rem;
}

/* Toolbar styles */
/* .p-toolbar {
    border-radius: 0.25rem;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    margin-bottom: 1rem;
} */

.p-button {
    margin: 0.5rem;
}

/* Table Header */
.p-datatable thead th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    border-top: none;
    border-bottom: 2px solid #dee2e6;
}

/* Table Body */
.p-datatable-tbody > tr {
    border-bottom: 1px solid #dee2e6;
}

/* Pagination styles */
/* .p-paginator {
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
} */

@media (max-width: 768px) {
    .bg-white {
        width: 95%;
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .p-datatable .p-datatable-thead > tr > th,
    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.5rem;
    }

    .p-button {
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .p-datatable .p-datatable-thead > tr > th,
    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.3rem;
        font-size: 0.7rem;
    }

    .p-button {
        padding: 0.2rem 0.5rem;
        font-size: 0.7rem;
    }

    .p-toolbar .p-button {
        margin: 0.2rem;
    }
}
